<h1>Pagos por amortizaciones</h1>
<form method="POST" action="/nuevo_examen">
  <div class="form-group">
    <label for="Monto">Monto</label>
    <input type="text" class="form-control" id="Monto" placeholder="Monto">
  </div>
  <div class="form-group">
    <label for="Anios">Años para pagar</label>
    <input type="text" class="form-control" id="Anios" placeholder="Años" name="Anios">
  </div>
  <div class="form-group">
    <label for="Interes">Interes</label>
    <input type="text" class="form-control" id="Interes" placeholder="Interes" name="Interes">
  </div>
  <div class="form-group">´
      <button type="button" class="btn btn-primary" id="nuevoExamen">Calcular</button>
  </div>
</form>